.user{
    color: rgb(0, 0, 0);
}

.form{
    margin: 10px;
    width: 200 px;
    height: auto px;
    background-color: rgba(0, 255, 4, 0.549);
    border-radius: 10%;
    /* border-radius: 8px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}