.App {
   width: 100vw;
   height: 100vh;
  text-align: center;
  background-image: URL("./images/pxfuel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body{
   background-image: URL("./images/pxfuel.jpg");
}
